.wrapperContainer{
    margin-right: 20px;
    padding: 0 0px 0 16px;
    /* margin-right: 25px; */
    border: 1px solid #f6f6f6;
    border-radius: 4px;
    transition: 0.3s ease-in-out;
}

.wrapperContainer:hover{
    box-shadow: 5px 10px;
}

.containerSection{
    position: relative;
    margin-right: 15px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
}

.headSection{
    display: flex;
    align-items: center;
}

.titleSection{
    font-weight: 700;
    margin-right: 20px;
}

.numTask{

}

.SectionMenu{

}

.addTask{
    padding: 0 0 0 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 40px;
    width: 235px;
    display: flex;
    align-items: center;
}

.addTask:hover{
    background: #ebebeb;
}

.titleTask{
    margin: 0 0 0 15px;
}

.boxContent{
    content: "";
    border-radius: 4px;
    margin-top: 161px;
    /* height: 199px; */
    width: 200px;
    background: beige;
    position: absolute;
    left: 30%;
}


.itemOption{
    border-radius: 4px;
    padding: 5px 15px 5px 15px;
    cursor: pointer;
    /* margin: 0 0 10px 20px; */
    /* margin-left: 22px; */
    height: 35px;
    display: flex;
    align-items: center;
}

.itemOption:hover{
    background-color: #ebebeb;
}

.textItem{
    margin-left: 20px;
}